 <h2 class="team-title"> New Dream Team! </h2><br><br>
<% @errors && @errors.each do |e| %>
  <li><%=e%></li>
<%end%>
<div class="form">
<%= form_for(@team, url: user_teams_path(@user)) do |f|%>
  <p><%=f.label "Team Name", class: "member"%></p>
  <%=f.text_field(:name)%><br><br>

  <%=f.fields_for :pokemons_teams do |poke_member| %>
  <%=poke_member.label "Member", class: "member"%><span class="small-space"></span>
  <%=poke_member.collection_select( :pokemon_ids, @pokemons, :id, :name) %><span class="space"></span>
  <%=poke_member.label "Pokemon Nickname", class: "member" %><span class="small-space"></span>
  <%=poke_member.text_field (:pokemon_nickname) %> <br>
  <%end%>
  <%#input for pokemon nickname%>
  
  <%#f.label "Member 2", class: "member"%>
  <%#f.collection_select("pokemon_id", @pokemons, :id, :name) %>
  <%#f.label "Member 3", class: "member"%>
  <%#f.collection_select("pokemon_id", @pokemons, :id, :name) %>
  <%#f.label "Member 4", class: "member"%>
  <%#f.collection_select("pokemon_id", @pokemons, :id, :name) %>
  <%#f.label "Member 5", class: "member"%>
  <%#f.collection_select("pokemon_id", @pokemons, :id, :name)%>
  <%#f.label "Member 6", class: "member"%>
  <%#f.collection_select('pokemon_id', @pokemons, :id, :name) %>
 <%#use additional helper methods; or use checkboxes with min/max; need nested input for nickname; use fields_for pokemon generating dropdown to create a new instance for the join table and will create nickname for pokemon (with pokemon_attributes [with id and nickname]); team_controller %>
  <br><br><br>
  <%=f.submit("Create Dream Team")%>
<%end%>

</div>

<style>

.member {
    font-family: "Chicken";
    font-size: 25px;
    color: rgba(165, 197, 233, 1);
}
.small-space {
    padding-right: 10px;
}
.space {
     padding-right: 30px;
}

.team-title {
    text-align: center;
    font-family: "PokemonSolid";
    font-size: 39px;
    letter-spacing: 2.9px;
    color: #8ab9ff;
    -webkit-text-stroke: 1.2px #bad6ff;
}

.team-title:hover {
    color: #bad6ff;
    -webkit-text-stroke: 1.2px #8ab9ff;
}

.submit-team {
    font-family: 'PokemonSolid';
    letter-spacing: 2px;
}

.form {
    text-align: center;
}

</style>

