<p class="p-team">
<span class="star-one">&#x2734;</span>
<span class="star-two">&#x2734;</span>
<span class="star-three">&#x2734;</span>
<span class="span-team-name"><%= @team.name %></span>
<span class="star-four">&#x2734;</span>
<span class="star-five">&#x2734;</span>
<span class="star-six">&#x2734;</span>
</p>
<br><br><br><br>
<%#binding.pry%>
<div class="show-grid">
<% @pokemons.each do |poke|%>
<%#binding.pry%>
<div class="container">
<a href="<%=pokemon_path(poke)%>" class="poke-link">
<img src="<%=poke.image%>" class="show-image">
<div class="overlay"><%= @team.pokemons_teams.find_by(pokemon_id: poke.id).pokemon_nickname%></div>
</a>
</div>
<%end%>
</div>
<br><br><br>

<div class="edit-div">
<a href="<%=edit_user_team_path(current_user, @team)%>">
<button type="button" value="Edit Team" class="edit-button">
    Edit Team
</button></a>

<br><br><br>
<%=button_to("Delete Team", @team, method: :delete, data: { confirm: "Say Goodbye to These Pokemon?" }, :class => "edit-button") %>
</div>
<br>

<style>

.edit-div {
  text-align: center;
  justify-content: center;
}

.edit-button {
    font-size: 15px;
    font-family: "PokemonSolid";
    color: rgba(189, 198, 239, 1);
    background-color: white;
    border: 2px solid #d1ceed;
    padding: 22px 26px;
    font-size: 20px;
    letter-spacing: 3px;
    border-radius: 15px;    
}

.edit-button:hover {
    background-color: rgba(198, 206, 241, 1);
    border: 2px solid rgba(165, 177, 233, 1);
    color: white;    
}

.show-title {
    font-size: 50px;
    text-align: center;
    font-family: "PokemonSolid";
    letter-spacing: 10px;
    color: #9f98d6;
    -webkit-text-stroke: 2px #6a60b5;
}

.show-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 70px;
  column-gap: 70px;
  text-align: center;
  justify-content: center;
}

.show-image {
  display: block;
  width: 340px;
  height: auto;
  box-shadow: 3px 4px 9px 7px #f7faff;
  border-radius: 155px;
}

.container {
  box-sizing: border-box;
}

.poke-link {
  text-decoration: none;
}

.overlay {
  position: relative;
  top: 5%;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: #cee8be;
  -webkit-text-stroke: 2px #6fb046;
  font-size: 30px;
  padding: 5px;
  text-align: center;
  letter-spacing: 3px;
  font-family: "PokemonSolid";
  border-radius: 55px;
}

.container:hover .overlay {
  opacity: 1;
  transform: scale(1.07);
  transition: 0.5s ease-in-out;
}

.container:hover .show-image {
  opacity: 1;
  transform: scale(1.07);
  transition: 0.5s ease-in-out;
  
}

.p-team {
    text-align: center;
}

.span-team-name {
    font-size: 50px;
    text-align: center;
    font-family: "PokemonSolid";
    letter-spacing: 10px;
    color: #9f98d6;
    -webkit-text-stroke: 2px #6a60b5;
}

.span-team-name:hover {
    color: #acd97c;
    -webkit-text-stroke: 2px #7eb048;
}

.star-one {
    font-size: 50px;
    color: #fa9d9d;
    font-family: "PokemonSolid";
    padding-left: 8px;
}

.star-one:hover {
    color:#ff6666;
}

.star-two {
    font-size: 50px;
    color: #ffc5a1;
    font-family: "PokemonSolid";
    padding-left: 8px;
}

.star-two:hover {
    color:#ffa166;
}

.star-three {
    font-size: 50px;
    color: #ffe6ab;
    font-family: "PokemonSolid";
    padding-left: 8px;
    padding-right: 8px;
}

.star-three:hover {
    color:#ffd166;
}

.star-four {
    font-size: 50px;
    color: #bfe9ff;
    font-family: "PokemonSolid";
    padding-left: 8px;
}

.star-four:hover {
    color:#91d9ff;
}

.star-five {
    font-size: 50px;
    color: #d1d3ff;
    font-family: "PokemonSolid";
    padding-left: 8px;
}

.star-five:hover {
    color:#a8abff;
}

.star-six {
    font-size: 50px;
    color:#f6e8ff;
    font-family: "PokemonSolid";
    padding-left: 8px;
}

.star-six:hover {
    color:#e7bfff;
}
</style>



