<%= form_for user do |f|%>
<label>Username</label>
<%= f.text_field :name %><br><br>

<label>Password</label>
<%= f.text_field :password %> <br><br>

<label>Password Confirmation</label>
<%= f.text_field :password_confirmation %> <br><br>

<%= f.submit "Become a Trainer" %>
<% end %>