<%= form_for user do |f|%>
<label class="form-cred">Username</label><br>
<%= f.text_field :name %><br><br>

<label class="form-cred">Password</label><br>
<%= f.text_field :password %> <br><br>

<label class="form-cred">Password Confirmation</label><br>
<%= f.text_field :password_confirmation %> <br><br><br>

<%= f.submit "Start My Journey" %>
<% end %>

<style>

.form-cred {
    font-family: "Chicken";
    color: #699dff;
    font-size: 23px;
}

</style>