<div class="signup-form">
<p class="signup-title"><%= begin_or_continue_journey(self)%></p><br>
<div class="form-pics">
<img src="/assets/eevee1.png" class="form-line">
<img src="/assets/char1.png" class="form-line">
<img src="/assets/poly1.png" class="form-line">
<img src="/assets/squir1.png" class="form-line">
<img src="/assets/snorlax1.png" class="form-line">
<img src="/assets/pika1.png" class="form-line">
</div><br><br>
<%if @errors %>
<%@errors.each do |e|%>
<p class="errors"><%= e %></p><br>
<%end%>
<br>
<%end%>
<div class="signup-div">
<br><br><br>
<%if self.controller_name == "users" %>
<%= render partial: 'form', locals: {user: @user}%>
<%else%>
<br>
<%= render partial: '/users/form', locals: {user: :user}%>
<%end%>
<br>
</div>
<br><br><br>
<%= button_to start_or_continue_with_github(self), '/auth/github', class:'front-button'%>
<br><br>
<a href="<%=root_path%>">
<button class="front-button">Back to Homepage</button>
</a>
<br><br><br>
<div class="form-pics">
<img src="/assets/eevee1.png" class="form-line">
<img src="/assets/char1.png" class="form-line">
<img src="/assets/poly1.png" class="form-line">
<img src="/assets/squir1.png" class="form-line">
<img src="/assets/snorlax1.png" class="form-line">
<img src="/assets/pika1.png" class="form-line">
</div>
</div>
<style>

.errors {
    padding: 10px 2px;
    width: 350px;
    background-color: rgba(189, 198, 239, 0.6);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    font-family: "Chicken";
    border-radius: 15px;
    box-shadow: 1px 1px 4px 1px #e3e3e3;
    color: white;
    font-size: 20px;
    border: 2px solid white;
}

.errors:hover {
    border: 2px solid rgba(165, 177, 233, 1);
    color: rgba(165, 177, 233, 1);
}

.start {
    font-family: "PokemonSolid";
    color: rgba(189, 198, 239, 1);
    background-color: white;
    border: 2px solid #d1ceed;
    padding: 15px 15px;
    transition-duration: 0.4s;
    font-size: 15px;
    letter-spacing: 3px;
    border-radius: 15px;
    box-shadow: 1px 1px 4px 1px rgba(179, 228, 255, 0.44); 
}

.start:hover {
    transform: scale(1.05);
    background-color: rgba(198, 206, 241, 1);
    border: 2px solid rgba(165, 177, 233, 1);
    color: white;
}

.start:active {
  transform: translateY(4px);
}

.signup-input {
    border: 2px solid #d9dbff;
    border-radius: 10px;
    color: #5a75d1;
    font-family: "Chicken";
    box-shadow: 1px 1px 4px 1px rgba(179, 228, 255, 0.54); 

}

.form-cred {
    font-family: "Chicken";
    color: #699dff;
    font-size: 23px;
}

.signup-div {
    background-color: rgba(188, 229, 251, 0.35);
    width: 500px;
    height: 500px;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px 2px #f0f0f0;
    border-radius: 300px;
}

.form-line {
    width: 100px;
    padding-right: 8px;
}

.form-line:hover {
    transform: scale(1.1);
}


.signup-title {
    font-family: "PokemonSolid";
    letter-spacing: 4px;
    font-size: 40px;
    color: #7ab4ff;
    -webkit-text-stroke: 1.5px #2b66b3;
}

.signup-title:hover {
    color: #a66ecc;
    -webkit-text-stroke: 1.5px #6e3991;
}

.signup-form {
    text-align: center;
}

.form-pics {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}

.front-button {
    padding: 22px 26px;
    border-radius: 15px;
    transition-duration: 0.4s;
    background-color: white;
    font-size: 20px;
    letter-spacing: 3px;
    color: rgba(189, 198, 239, 1);
    font-family: "PokemonSolid";
    box-shadow: 1px 1px 2px 1px #e3e3e3;
    border: 2px solid #d1ceed;
}

.front-button:hover {
  background-color: rgba(189, 198, 239, 1);
  color: white;
  transform: scale(1.05);
  border: 2px solid rgba(165, 177, 233, 1);
}

.front-button:active {
  transform: translateY(4px);
}

.field_with_errors {
    display: inline;
}
</style>