<div class="poke-box">
<br><br>
<h1 class="name-header"> <%= pokemon.pokedex_number %> - <%= pokemon.name %> </h1>
<img class="poke-pic" src="<%=pokemon.image%>">
<p class="description"> <%= pokemon.description %> </p> <br><br>
<p class="poke-info"> Height: <%= pokemon.height %> </p>
<p class="poke-info"> Weight: <%= pokemon.weight %> </p>
<p class="poke-info"> Type: <%= pokemon.types %> </p> 
<p class="poke-info"> Weakness: <%= pokemon.weaknesses %> </p>

<p class="poke-info"> Ability: <%= pokemon.check_abilities %> </p>
<br><br>
</div>
<br><br><br>
