<div class="poke-box">
<br><br>
<h1 class="name-header"> <%= pokemon.pokedex_number %> - <%= pokemon.name %> </h1>
<img class="poke-pic" src="<%=pokemon.image%>">
<p class="description"> <%= pokemon.description %> </p> <br><br>
<p class="poke-info"> Height: <%= pokemon.height %> </p>
<p class="poke-info"> Weight: <%= pokemon.weight %> </p>
<p class="poke-info"> Type: <%= pokemon.types %> </p> 
<p class="poke-info"> Weakness: <%= pokemon.weaknesses %> </p>

<p class="poke-info"> Ability: <%= pokemon.check_abilities %> </p>
<br><br>
</div>
<br><br><br>
<style>

.poke-box {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:900px;
    border: 7px solid #c4d7ff;
    border-radius: 55px;
    box-shadow: 8px 8px 25px 7px #ced5e0; 
    background: rgba(99, 140, 222);
    background: rgba(99, 140, 222, 0.22);
}

.poke-box:hover {
    transform: scale(1.05);
    transition: 1s ease-in-out;
}

.name-header {
    font-family: "MilkyNice";
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    -webkit-text-stroke: 1.3px #578cff;
}

.name-header:hover {
    color: #578cff;
}

.poke-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.poke-info {
    font-family: "MilkyNice";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 30em;  
    font-size: 25px;
    color: #ffffff;
    -webkit-text-stroke: 1.2px #578cff;
}

.poke-info:hover {
    color: #578cff;
}

.description {
    font-family: "MilkyNice";
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
    font-size: 30px;
    color: #ffffff;
    -webkit-text-stroke: 1.5px #578cff;
}

.description:hover {
    color: #578cff;
}

</style>