<% @pokemons.each do |p| %>
<div class="container">
  <a href="<%=pokemon_path(p)%>"> <img src="<%=p.image%>" alt="<%=p.name%>" class="image">
  <div class="overlay"><%=p.name%></div> </a>
</div>
<%# <p><%= link_to p.name, pokemon_path(p.id) %> 
<% end %>


<style>
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 5px 5px #ebebeb;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
</style>